<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
		<h4 style="color:white;">NCAR's Research Applications Laboratory</h4>
                <h1>{{ site.groupname }}</h1>
		<h5>{{ site.description }}</h5>				
		<!-- <p> &nbsp </p> -->
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!-- <img src="{{ "/assets/img/4panel.png" | prepend: site.baseurl }}" class="img-responsive" height="50%" width="50%"> -->
		<!-- <br/><a href="{{ "/projects/" | prepend: site.baseurl }}" class="btn btn-theme">More about our research</a></p>
		<p> &nbsp </p> -->
		<!-- <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" class="img-responsive" height="100%" width="100%"> --> 
           </div>
        </div><!-- /row -->
    </div> <!-- /container -->
{% include themes.html %}
</div><!-- /headerwrap -->

